%h3= @oven.name

= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button mobile-button-prepare'

.cookie-info
  Cookie in oven:
  - if @oven.cookie
    1 cookie with
    = cookie_fillings(@oven.cookie.fillings)
    #cooking-status
      (Cooking)
    = button_to "Retrieve Cookie", empty_oven_path, class: 'button tiny'
  - else
    None

%br

= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button desktop-button-prepare'
